.control-group{:class => ('error' if error_messages.present?)}

  - if label_text.present?
    = builder.label(method, label_text, :class => 'control-label')

  .controls
    - if defined?(values)
      - values.each do |value|
        %label.checkbox{:for => value[:id]}
          #{value[:field]} #{value[:label_text]}
      %p.help-block= help_block if help_block.present?

    - else
      = builder.label(method, :class => 'checkbox') do
        = field
        = help_block if help_block.present?
        
      - if error_messages.present?
        %span.help-inline= error_messages
