.clearfix{:class => ('error' if error_messages.present?)}

  %label
    = label_text
    - if required
      %span.required *

  .input
    %ul.inputs-list
      - choices.each do |choice|
        %li
          %label{:for => choice[:label_for]}
            = choice[:field]
            %span= choice[:label]



    - if description.present?
      %span.help-block= description

    - if error_messages.present?
      %span.help-inline= error_messages
    

